<div class="container-fluid menubar">
    <div class="row menubar">
      <div class="col-md-2" style="text-align:center;"><a href="/secrets">Home</a></div>
      <div class="col-md-3"><a href="/my-secrets">My Secrets</a></div>
      <div class="col-md-7 logout"><a href="/logout">Log Out</a></div>
    </div>
  </div>