<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">My Secrets</h1>

    
    <%USER.secret.forEach(function(it){%>
        <form action="/deletesecret" method="post">
            <div>
                <p class="secret-text"><%=it%></p>
                <input type="hidden" name="secretname" value="<%=it%>">
                <input type="submit" value="delete">
            </div> 
        </form>
    <%});%>

    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>