
body {
  background-color: rgb(236, 236, 255);
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.73)
}

.btn{
  margin-top: 1.5rem;
}

.social-block .btn{
  width: 80%;
  margin-left: 3rem;
}

.secret-card{
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  background-color: rgb(58, 56, 56);
  color: #fff;
}

.secret-card p{
  font-size: larger;

}

.block-buttons{
  display: block;
}

.logout{
  align-items: right;
  text-align: right;
  padding-right: 50px;
}

.menubar{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: larger;
  background-color:black;
  margin:0%;
}

.menubar a{
  color: white;
  text-decoration: none;
}

.menubar a:hover{
  color: rgb(193, 185, 185);
}




